/* font-family: 'Roboto', sans-serif; */


*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
 }


.main-div nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 30px 0;
}


.nav-items{
    display: flex;
    
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0 30px;
    color: #3E4794;
}

.signin-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #965CF2 , #FF8ADC);
}

.intro-section{
    display: flex;
    align-items: center;
    margin-left: 160px;
}

.imgs-div{
    display: flex;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 700px;
    height: 400px;
    margin-bottom: 100px;
}

.left-section h1{
    color: #3E4794;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

.left-section h4{
    color: #3E4794;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    width: 400px;
    margin-top: 40px;
}

.learn-more-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #965CF2 , #FF8ADC);
    margin-top: 50px;
}

.main-div{
    position: relative;
}

.main-div::before{
    content: '';
    background: url(../images/backcover.svg) no-repeat right top;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: -1;
}

.imgs-div img:nth-child(3){
    height: 780px;
    position: relative;
    left: 25px;
}

.vector-img{
    position: relative;
    top: 200px;
    left: 150px;
}

.vector-dot{
    position: relative;
    top: 160px;
    left: 110px;
}


/* Mobile Responsiveness */

@media (max-width: 1830px){

    body {
        overflow: scroll;
     }
    
     .imgs-div img:nth-child(3){
        height: 780px;
        position: relative;
        left: 0;
    }

}

@media (max-width: 1500px){

    .nav-item{
        font-size: 1em;
    }

    nav img{
        height: 2em;
    }

    .signin-btn{
        font-size: 1em;
    }

    .main-div nav{
        justify-content: center;
    }

    .left-section h1{
        font-size: 4em;
    }

    .left-section h4{
        font-size: 1em;
    }

    .learn-more-btn{
        font-size: 1em;
    }

    .imgs-div img:nth-child(3){
        height: 500px;
    }

    .vector-img{
        width: 4em;
    }
    
    .vector-dot{
        top: 170px;
        left: 120px;
        width: 0.8em;
    }

}

@media (max-width: 1170px){

    .intro-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .left-section{
        align-items: center;
        justify-content: center;
    }

    .main-div nav{
        flex-direction: column;
    }

    .nav-items{
        margin: 2em 0;
    }

}


@media (max-width: 720px){

    .nav-items{
        flex-direction: column;
    }

    .nav-item{
        margin: 1em 0;
        text-align: center;
    }

    .imgs-div img:nth-child(3){
        height: 280px;
    }

    .vector-img{
        width: 3em;
        top: 150px;
        left: 60px;
    }
    
    .vector-dot{
        top: 130px;
        left: 40px;
        width: 0.5em;
    }

    .left-section h1{
        font-size: 2em;
    }

    .left-section h4{
        font-size: 0.8em;
        width: 250px;
        text-align: center;
        margin: 2em 0;
    }

    .learn-more-btn{
        font-size: 1em;
        margin-top: 0;
    }

    .left-section{
        margin: 2em 0;
        height: 300px;
        width: 350px;
    }

    .imgs-div{
        margin-top: 5em;
    }


}